[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
anytree = ">=2.4, <2.5"
frozendict = ">=1.2, <2"
typing_extensions = ">=3.6, <4"

[dev-packages]
coverage = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-docstrings = "*"
flake8-import-order = "*"
flake8-quotes = "*"
flake8-todo = "*"
mypy = "*"
nose = "*"
pep8-naming = "*"
python-semantic-release = "*"
setuptools = "*"
twine = "*"
wheel = "*"

[requires]
python_version = "3.7"
